

/* button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(57, 37, 97);
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
  }
  
  
 button:hover {
    opacity: 0.7;
  }

  .e-card-title{
    color: rgb(22, 22, 22);
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    font-family: 'Lato', sans-serif; 
    place-items: center;
  } */

  .full-page {
    height: 80vh;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
/* 
  .center-page {



  } */