<div>
    <div class="e-card">
          <!-- <img src="/assets/images/709e35e4dd3b9d4c56c8dcb1d4bfa42e.png" style="width:50%;"> -->
            <div class="e-card-title">Honda Civic Sedan</div>
        
        <div class="e-card-content">
          <h2>Veuillez choisir votre période de location</h2>
          <ejs-daterangepicker #date placeholder="select a date range" 
          [value]="upToDateValue"(change)="valueChange($event)"
         
          format="dd-MMM-yy"
          class="position"
          >
          <!-- set min-max range in calendar -->
          <!-- 
            [min]="minDate"
            [max]="maxDate" 
          -->
      
          <!-- set Day span in calendar -->
          <!-- 
            [minDays]="minDayValue"
            [maxDays]="maxDayValue" 
          -->
          
          <!-- set custom range views -->
          <!-- start="Year"
          depth="Year" -->
          <!-- <button class="btn">confirmer</button> -->
        </ejs-daterangepicker>
            <p class="price-counter">price counter placeholder</p>
        </div>

        <button routerLink="/client-section">Confirmer</button>
</div>
</div>