<div class="contenant3">

    <div class="contact">
        <div class="row">
            <div class="info">
            <h3> Questions? Contactez-nous!</h3>
            <p>info@rentalcar.com</p>
            <p>1536  rue Levy, Montréal, Qc, H3C 5K4</p>
            <p>514-714-3280</p>
            <h4>Nos points de locations</h4>
            </div>

        <div class="image">
            <img src="assets/images/1.png" alt="map montreal avec point de location" style="width: 80%;">
           
        </div>

     </div>

   
 </div>


  <!-- BAS DE PAGE -->

 <footer>
<div class="info">
    <h3>RENTAL CAR</h3>

    <p>
        © 2022 Rental Car. Tous droits réservés 
    </p>
    <p> info@rentalcar.com</p>
</div>
    
    </footer>
