
    <div class="header2">

        <div class="row">
            
            <div *ngFor="let car of allCars" class="card">
                <img [src]="car.picpath" [alt]="car.name" style="width:110%">
                <h1>{{car.name}}</h1>
                <p class="price">{{car.ppday}}</p>
                
                <p><button>En savoir plus</button></p>
            </div>
        </div>
    </div>    




 <!-- <div class="header2">

    <h2>voiture voiture voiture voiture</h2>
    <div class="row">
        
        <div class="card">
            <img src="public/images/touring_10767_nh_830mlunar_silver_metallic_front.png" alt="Honda Civic Sedan" style="width:110%">
            <h1>Honda Civic Sedan</h1>
            <p class="price">100$/jour</p>
            
            <p><button>En savoir plus</button></p>
          </div>


          <div class="card">
            <img src="public/images/sport.png" alt="Honda Civic Sport" style="width:110%">
            <h1>Honda Civic Sport</h1>
            <p class="price">100$/jour</p>
            
            <p><button>En savoir plus</button></p>
          </div>

          <div class="card">
            <img src="public/images/sport_10776_nh_904mmeteoroid_gray_metallic_front.png" alt="Honda Civic Hatchback" style="width:110%">
            <h1>Honda Civic Hatchback</h1>
            <p class="price">100$/jour</p>
            
            <p><button>En savoir plus</button></p>
          </div>

    
 </div>

</div> -->