
    <div class="header2">
        <h2>Sélectionner votre voiture</h2>
        
        <div class="row">
            
            <div *ngFor="let car of allCars | slice:0:3;" class="card">
                <img [src]="car.picpath" [alt]="car.name" style="width:110%" >
                <h1>{{car.name}}</h1>
                <p class="price">{{car.ppday}}$/jour</p>
            
                <p>
                    <button routerLink="/reservation/{{car._id}}" [queryParams]="{car_price: car.ppday, car_name: car.name}">
                        Réserver
                    </button>
                </p>


            </div>
        </div>
    </div>    
