
<div class="contenant">

    <div class="header">
        
        <div class="row">
            <h4 >{{heroBannerCar.name}}</h4>
            <div class="image">
                <img [src]="heroBannerCar.picpath" [alt]="heroBannerCar.name" style="width:100%">
            </div>
            <h3>{{heroBannerCar.name}}</h3>   
        </div>

        <a class="btn"> Réservez!</a>
        <img src="public/icones/4-43270_transparent-white-png-social-media-icons-social-media.png" alt="réseaux sociaux" style="width:5%">
    </div>

</div>    