
<div class="contenant">

    <div class="header">
        
        <div class="row">
            <h4 >HONDA CIVIC</h4>
            <div class="image">
                <img src="/assets/images/709e35e4dd3b9d4c56c8dcb1d4bfa42e.png" alt="Honda Civic Hatchback" style="width:100%">
            </div>
            <h3>MODEL EX 4D SEDAN</h3>   
        </div>

        <a routerLink="/reservation" class="btn"> Réservez!</a>
          <!--  <img src="public/icones/4-43270_transparent-white-png-social-media-icons-social-media.png" alt="réseaux sociaux" style="width:5%"> -->

</div>   
