/* Barre de navigation */


.navbar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: rgb(22, 22, 22);
    padding: 0 14px;
    font-family: 'Lato', sans-serif;
 
}


.navbar .btn{
  
    background: rgb(57, 37, 97);
    color: rgb(244, 245, 237);
    padding: 8px 20px;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    transition: 'background 0.5s';
}

.navbar .btn:hover{
background: rgb(255, 255, 255);
color: rgb(19, 19, 19);
}



h4{
    color: rgb(244, 245, 237);
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}



nav ul{

    display: flex;
    justify-content: space-evenly;
    width: 45%;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    
    
}

nav li{

    list-style: none;
    
}


nav a{

    color: rgb(244, 245, 237);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 13px;

}

