
<!-- Zone Promotion de la semaine-->

<div class="contenant">

<div class="header4">
    <div class="row">
        <div class="info">
        <h3> Qui sommes-nous ?</h3>
        <p>Nous sommes votre nouvelle destination préféré pour la location de voiture. Vivez une expérience hors pairs et conviviale grâce à notre nouvelle agence de location loin de l'ordinaire. Nous offrons la game complète d'Honda, vous permettant de trouver la voiture parfaite pour votre budget et ce seulement à partir de 50$ par jour. Avez vous besoin de votre nouvelle location à votre porte? Pas d'inquiétude, Rental Car offre la livraison directement chez vous ou à votre destination.</p>
        <h3> On s'occupe de tout! Oui, vous êtes déjà assuré!</h3>
        <p>Toutes les locations incluent une assurance responsabilité civile automobile, pouvant aller jusqu'à 2 000 000$. Sans oublier notre assistance routière disponible 24 heures sur 24, 7 jours sur 7!</p>
        
        
        </div>

    <div class="image">
        <img src="/assets/images/touring_10767_nh_830mlunar_silver_metallic_front.png" alt="promotion de la semaine" width="60%"> 
    </div>

 </div>
</div>

</div>

<footer>
    <div class="info">
        <h3>RENTAL CAR</h3>
    
        <p>
            © 2022 Rental Car. Tous droits réservés 
        </p>
        <p> info@rentalcar.com</p>
    </div>
        
 </footer>